body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #f8f9fa;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: inline-flex;
    align-items: center;
    z-index: 1000;
}

header img {
    height: 30px;
    margin: 10px;
    text-align: left;
}

header p {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

main {
    margin-top: 70px;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
    font-family: serif;
}

.descripcion {
    max-width: 700px;
    margin: 30px auto 30px auto;
    font-size: 1.1em;
}

.cards {
    position: relative;
    width: 100%;
    height: 370px;
    margin: 0 auto 30px auto;
    background-color: #aab7c4;
    border-radius: 10px;
}

.card {
    position: absolute;
    top: 50px;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.card:nth-child(1) {
    left: calc(18% - 150px);
}

.card:nth-child(2) {
    left: calc(50% - 150px);
}

.card:nth-child(3) {
    left: calc(82% - 150px);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-text {
    background: #22335a;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    font-size: 1em;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

footer {
    background: none;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1em;
    color: #222;
}